<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Title</td>
                <td>Date</td>
                <td>
                    <a>Read More</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>